body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #121212; /* Dark background for the entire page */
}

.wrapper {
    width: 250px; /* Define a fixed width */
    height: 250px; /* Define a fixed height to match width */
    overflow: hidden;
    border-radius: 50%;
    animation: spin 10s linear infinite;
    background-color: #333; /* Darker wrapper background */
    padding: 10px; /* Optional: Add some padding to space the image from the border */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedro {
    width: 100%; /* Ensure the image fits within the wrapper */
    height: auto; /* Maintain the aspect ratio */
    transform: scale(1.1);
    animation: bounce 200ms linear infinite alternate;
}

@keyframes bounce {
    to {
        transform: translateY(2px);
    }
}

@keyframes spin {
    to {
        transform: rotate(-1turn);
    }
}
